<div class="star-container">
  <div class="row ">
    <div class="col d-flex justify-content-end">
      <img src="../../assets/music/mochi-dancing.gif" alt="Description of the image" class="my-image" width="165px" height="170px">
    </div>
    <div class="col">
      <div class="count-down-timer">
        <p>We have been together for</p>
        <div class="wrapper">
          <div class="description">
            <p>Days</p>
            <p>Hours</p>
            <p>Minutes</p>
            <p>Seconds</p>
          </div>
          <div class="times">
            <p #days></p>
            <p #hours></p>
            <p #minutes></p>
            <p #seconds></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../assets/music/mochi-kissing.gif" alt="Description of the image" class="my-image" width="165px" height="170px">
    </div>
  </div>
  
      <div class="row d-flex justify-content-center align-items-center vh-100 text-center">
        <h3>Here is your virtual flowers boo </h3>
        <embed src="https://hoangquach.github.io/flower-animation/" class="embed-responsive" width="600" height="500">
      </div>
   
      <div class="row text-center" >
        <div class="col">
         
          <div class="d-flex justify-content-center align-items-center vh-100">
            <h3>Here is your hall of fame babyyyy</h3>
            <embed src="https://hoangquach.github.io/carosel/" class="embed-responsive" width="600" height="450">
          </div>
        </div>
      </div>
      
      
</div>



