
<div class="star-container text-center">
  <div class="row">
    <div class="alert alert-success" role="alert" *ngIf="greenNotificationStatus">
      {{greenMessage}}
      <div>
        <img src="assets/music/{{dobPic}}" alt="Description of the image" class="my-image" width="229px" height="238px">
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="redNotificationStatus">
      {{redMessage}}
      <div>
        <img src="assets/music/{{dobPic}}" alt="Description of the image" class="my-image">
      </div>
    </div>

<!--first question-->
<div *ngIf="!redNotificationStatus && !awardStatus">
    <div class="col">
      <img src="assets/music/mochi-say-hi.gif" alt="Description of the image" class="my-image">

    </div>
    <div class="col" >
      <!--title-->
      <h3>{{header}}</h3>
      <h3>How many exact days we have been together?</h3>
  </div>
  
  <div class="row">
    <label for="customRange3" class="form-label">The number of days are: {{sliderNum}}</label>
    <input type="range" class="form-range" min="100" max="180" step="1" id="sliderNumber" [(ngModel)]="sliderNum">
  </div>
  <div class="row">
    <div class="col">
      <!--button-->
      <button type="button" class="btn btn-primary" (click)="verifyDay()">Submit</button>    
  </div>
  </div>
</div>
   
</div>   
<!--hint question--> 
<div *ngIf="redNotificationStatus">
  <h3>When did we start dating?</h3>
  <p>*you better got it right</p>
  <label for="birthday">Date:</label>
  <input class="form-control" type="date" id="birthday" name="birthday" [(ngModel)]="dob">
  <button type="button" class="btn btn-primary" (click)="verifymydob()">Submit? I am sure</button>
</div>


<!--Reward section-->
  <div *ngIf="awardStatus">
      <h3>Alright, now we are going to reveal the award/s don't we?</h3>
      <h3>Missy, can you help me to pick the following buttons:</h3>
      <img src="assets/music/{{this.pic}}" alt="Description of the image" class="my-image" width="229px" height="238px">

      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" [disabled]="awardButton1" (click)="rewardRevealBtn1()">This</button>
          <button type="button" class="btn btn-primary" [disabled]="awardButton2" (click)="rewardRevealBtn2()">Or This</button>
        </div>
       
      </div>
  </div>
   
</div>


